* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}


    .navbar {
        height: 75.88px;
        color: #000;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .nav-ops {
        margin-right: 300px;
        padding: 7px;
        font-weight: 545;
        font-size: 13.2806px;
    }

    .nav-ops a {
        padding: 5px;


    }

    .nav-ops a:hover {
        border: 1px solid black;
        border-radius: 30px;
        color: #ffffff;
        background-color: black;
    }


    .supports a {
        padding: 10px;
        font-weight: 545;
        font-size: 13.2806px;
    }

    .supports :hover {
        border: 1px solid black;
        border-radius: 30px;
        color: #ffffff;
        background-color: black;
    }

    .nav-icons i {
        padding: 10px;
        margin-right: 10px;
    }

    .nav-icons i:hover {
        border: 1px solid black;
        border-radius: 30px;
        color: #ffffff;
        background-color: black;
    }


    .hero-img {
        height: 599.44px;
        width: 100%;
        background-image: url(Back_to_School_Main_KV_4module_Cross-GBM_Exclusive_1440x640_PC.webp);
        background-size: cover;
        font-size: 0.999rem;
    }

    .hero-mess {
        padding-left: 75px;
        padding-top: 75px;
        font-size: 33px;
    }

    .hero-p {
        padding-left: 77px;
        padding-top: 25px;
    }

    .btn {
        padding-left: 80px;
        padding-top: 40px;
    }

    .btn button {
        height: 38px;
        width: 7.5%;
        color: #ffffff;
        border-radius: 30px;
        background-color: black;
        text-align: center;
        border: transparent;
    }

    .btn button:hover {
        border: 1.5px dotted rgb(219, 213, 213);
        background-color: rgb(95, 93, 93)
    }

    .hero-section {
        height: 100px;
        width: 100%;
    }

    .heading {
        margin-top: 40px;
        text-align: center;
        font-size: 20.0472px;
    }

    .para {
        height: 43.45px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 25px;
        margin-left: 14.4%;
        font-weight: 549.5;
        font-size: 16px;

    }

    /* boxes */

    .boxes {
        height: 680px;
        width: 100%;
        display: flex;
        margin-top: 30px;

    }


    .box1 {
        height: 648.48px;
        width: 648.48px;
        background-image: url(SEPAK-504_684X684_nocopy2.webp);
        /* background-size: cover; */
        margin-left: 15px;
        border-radius: 30px;
        border: transparent;
    }


    .box1h {
        text-align: center;
        padding-top: 520px;
    }

    .box1h2 {
        font-size: 22.7667px;
    }

    .box1 p {
        padding-top: 10px;
        font-size: 14px;
    }

    .box1btn {
        padding-top: 15px;
    }

    .box1btn button {
        height: 35px;
        width: 85px;
        background-color: #000;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box1btn button:hover {
        background-color: rgb(95, 93, 93);
    }

    .boxs {
        height: 675px;
        width: 675px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 550;
        font-size: 17.075px;
    }

    /* box2  */

    .box2 {
        height: 313.03px;
        width: 310px;
        background-image: url(Small_Tile_Galaxy_S23_ultra_330x330.avif);
        background-size: cover;
        border-radius: 30px;
        border: transparent;
    }

    .box2:hover {
        border: 2px dotted black;
    }

    .box2h {
        padding-top: 200px;
    }

    .box2btn {
        padding-top: 12px;
    }

    .box2btn button {
        height: 35px;
        width: 90px;
        background-color: #000;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box2btn button:hover {
        background-color: rgb(95, 93, 93);
    }

    /* box3  */

    .box3 {
        height: 313.03px;
        width: 310px;
        background-image: url(box2img.avif);
        background-size: cover;
        border-radius: 30px;
        border: transparent;
    }

    .box3:hover {
        border: 2px dotted black;
    }

    .box3h {
        padding-top: 200px;
    }

    .box3btn {
        padding-top: 12px;
    }

    .box3btn button {
        height: 35px;
        width: 90px;
        background-color: #000;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box3btn button:hover {
        background-color: rgb(95, 93, 93);
    }

    /* box4  */

    .box4 {
        height: 313.03px;
        width: 310px;
        background-image: url(box3.avif);
        background-size: cover;
        border-radius: 30px;
        border: transparent;
    }

    .box4:hover {
        border: 2px dotted black;
    }

    .box4h {
        padding-top: 200px;
    }

    .box4btn {
        padding-top: 12px;
    }

    .box4btn button {
        height: 35px;
        width: 90px;
        background-color: #000;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box4btn button:hover {
        background-color: rgb(95, 93, 93);
    }

    /* box5  */

    .box5 {
        height: 313.03px;
        width: 310px;
        background-image: url(box4img.avif);
        background-size: cover;
        border-radius: 30px;
        border: transparent;
    }

    .box5:hover {
        border: 2px dotted black;
    }

    .box5h {
        padding-top: 200px;
    }

    .box5btn {
        padding-top: 12px;
    }

    .box5btn button {
        height: 35px;
        width: 90px;
        background-color: #000;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box5btn button:hover {
        background-color: rgb(95, 93, 93);
    }

    /* /* zfold6 section */

    .section-z6 {
        height: 785px;
        width: 100%;
        background-color: #f4f4f4;
    }

    .section-heading {
        height: 43.45px;
        width: 100%;
        font-size: 26.0472px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }

    .section-para {
        height: 43.45px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-left: 14.4%;
        font-weight: 550;
        font-size: 17.075px;

    }

    .img-heading {
        height: 43.45px;
        width: 100%;
        margin-top: 25px;
        text-align: center;
        font-size: 21.0472px;

    }

    .img-heading i {
        color: rgb(86, 86, 233);
    }

    .z6img {
        height: 340px;
        width: 43%;
        background-image: url(galaxy-z-fold6-features-kv.jpg);
        margin-left: 400px;
        margin-top: 10px;
        background-size: cover;

    }

    .img-heading2 {
        height: 54.63;
        width: 100%;
        text-align: center;
        font-size: 32.533px;
        font-weight: 600;
        margin-top: 80px;
    }

    .img-heading2 button {
        height: 37.92px;
        width: 110px;
        background-color: black;
        color: white;
        border-radius: 30px;
        border: transparent;
        margin-top: 13px;
    }

    .img-heading2 button:hover {
        background-color: rgb(95, 93, 93);
    }

    /* TV ROOM */

    .tv-section {
        height: 947px;
        width: 100%;
    }

    .room-img {
        height: 947px;
        width: 100%;
        background-image: url(tvroom.avif);
        background-size: cover;
    }

    .room-heading {
        height: 43.45px;
        width: 100%;
        font-size: 26.0472px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }

    .room-para {
        height: 43.45px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-left: 14.4%;
        font-weight: 550;
        font-size: 17.075px;
    }

    .room-heading2 {
        height: 54.63;
        width: 100%;
        text-align: center;
        font-size: 32.533px;
        font-weight: 600;
        margin-top: 635px;
    }

    .room-para2 {
        height: 22.7px;
        font-size: 17.075px;
        text-align: center;
        margin-top: 10px;
    }

    .room-para2 button {
        height: 37.92px;
        width: 110px;
        background-color: black;
        color: white;
        border-radius: 30px;
        border: transparent;
        margin-top: 10px;
    }

    .room-para2 button:hover {
        background-color: rgb(95, 93, 93);
    }

    /* container-3 */

    .container-3 {
        height: 758.38px;
        width: 100%;
        text-align: center;
    }

    .container-heading {
        height: 43.45px;
        width: 100%;
        font-size: 26.0472px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }

    .container-boxes {
        height: 648px;
        width: 83%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 115px;

    }

    .container-box1 {
        height: 553.73px;
        width: 250px;
        border-radius: 20px;
        background-color: #f7f7f7;
    }

    .box1-img {
        height: 204.89px;
        width: 204.89px;
        background-image: url(led.avif);
        background-size: cover;
        margin-left: 22px;
        margin-top: 45px;

    }

    .box1-p {
        font-weight: 550;
        font-size: 16.1778px;
        padding-top: 10px;
    }


    .box1-btn1 {
        padding-top: 90px;
        font-size: 12.3833px;
        font-weight: 550;
        padding-right: 10px;
    }

    .box1-btn1 button {
        text-align: center;
        height: 26.35px;
        margin: 5px;
        border-radius: 13px;
        font-size: 12.3833px;
        font-weight: 550;
        border: 1px solid black;
    }

    .box1-btn1 button:hover {
        border: 2px solid black;
    }



    .box1-price {
        padding-top: 13px;
        font-size: 16.075px;
        font-weight: 550;
    }

    .box1-btn2 {
        padding-top: 55px;
        font-style: 13.2806px;

    }

    .box1-btn2 button {
        height: 37.92px;
        width: 220px;
        background-color: black;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box1-btn2 button:hover {
        background-color: rgb(95, 93, 93);
        ;
    }

    /* container-box2 */

    .container-box2 {
        height: 553.73px;
        width: 250px;
        background-color: #f4f4f4;
        border-radius: 20px;
    }

    .box2-img {
        height: 204.89px;
        width: 204.89px;
        background-image: url(led2.avif);
        background-size: cover;
        margin-left: 22px;
        margin-top: 45px;

    }

    .box2-p {
        font-weight: 550;
        font-size: 16.1778px;
        padding-top: 10px;
    }

    .box2-btn1 {
        padding-top: 90px;
        font-size: 12.3833px;
        font-weight: 550;
    }

    .box2-btn1 button {
        text-align: center;
        height: 26.35px;
        margin: 5px;
        border-radius: 13px;
        font-size: 12.3833px;
        font-weight: 550;
        border: 1px solid black;
    }

    .box2-btn1 button:hover {
        border: 2px solid black;
    }



    .box2-price {
        padding-top: 13px;
        font-size: 16.075px;
        font-weight: 550;
    }

    .box2-btn2 {
        padding-top: 55px;
        font-style: 13.2806px;

    }

    .box2-btn2 button {
        height: 37.92px;
        width: 220px;
        background-color: black;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box2-btn2 button:hover {
        background-color: rgb(95, 93, 93);
        ;
    }




    /* container-box3 */


    .container-box3 {
        height: 553.73px;
        width: 250px;
        background-color: #f4f4f4;
        border-radius: 20px;
    }


    .box3-img {
        height: 204.89px;
        width: 204.89px;
        background-image: url(LED3.avif);
        background-size: cover;
        margin-left: 22px;
        margin-top: 45px;

    }


    .box3-p {
        font-weight: 550;
        font-size: 16.1778px;
        padding-top: 10px;
    }

    .box3-btn1 {
        padding-top: 90px;
        font-size: 12.3833px;
        font-weight: 550;
        padding-right: 10px;
    }

    .box3-btn1 button {
        text-align: center;
        height: 26.35px;
        margin: 5px;
        border-radius: 13px;
        font-size: 12.3833px;
        font-weight: 550;
        border: 1px solid black;
    }

    .box3-btn1 button:hover {
        border: 2px solid black;
    }



    .box3-price {
        padding-top: 13px;
        font-size: 16.075px;
        font-weight: 550;
    }

    .box3-btn2 {
        padding-top: 55px;
        font-style: 13.2806px;

    }

    .box3-btn2 button {
        height: 37.92px;
        width: 220px;
        background-color: black;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box3-btn2 button:hover {
        background-color: rgb(95, 93, 93);
        ;
    }


    /* container-box4 */


    .container-box4 {
        height: 553.73px;
        width: 250px;
        border-radius: 20px;
        background-color: #f4f4f4;
    }

    .box4-img {
        height: 204.89px;
        width: 204.89px;
        background-image: url(phone2.avif);
        background-size: cover;
        margin-left: 22px;
        margin-top: 45px;

    }


    .box4-p {
        font-weight: 550;
        font-size: 16.1778px;
        padding-top: 10px;
    }

    .box4-btn1 {
        padding-top: 90px;
        font-size: 12.3833px;
        font-weight: 550;
        padding-right: 10px;

    }

    .box4-btn1 button {
        text-align: center;
        height: 26.35px;
        width: 53px;
        margin: 5px;
        border-radius: 13px;
        font-size: 12.3833px;
        font-weight: 550;
        border: 1px solid black;
    }

    .box4-btn1 button:hover {
        border: 2px solid black;
    }



    .box4-price {
        padding-top: 13px;
        font-size: 16.075px;
        font-weight: 550;
    }

    .box4-btn2 {
        padding-top: 55px;
        font-style: 13.2806px;

    }

    .box4-btn2 button {
        height: 37.92px;
        width: 220px;
        background-color: black;
        color: white;
        border-radius: 30px;
        border: transparent;
    }

    .box4-btn2 button:hover {
        background-color: rgb(95, 93, 93);
        ;
    }


